<div class="container">

    <h1>Gestions des Equipes</h1>

    <div>
        <button type="button" class="btn btn-light">Ajouter une équipe</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Slogan</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let team of teams; index as i; ">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{team.name}}</td>
                <td>{{team.slogan}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>

</div>